<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Uncomment to log spring-data-jdbc queries -->
    <!--
    <logger name="org.springframework.jdbc.core" level="trace" />
    -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR" />
    <logger name="com.zaxxer.hikari" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
